{% extends 'theme.html' %}
{% block content %}

<div class="card">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.user.label(class='form-control-label') }}
                {{ form.user(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label(class='form-control-label') }}
                {{ form.password(class='form-control') }}
            </div>
            {{ form.submit(class="btn btn-secondary") }}
          </form>
    </div>
</div>

{% endblock %}