{% extends 'theme.html' %}
{% block content %}

<div class="card">
    <h5 class="card-header">Register</h5>
    <div class="card-body">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.user.label(class='form-control-label') }}
                {% if form.user.errors %}
                    {{ form.user(class='form-control is-invalid') }}
                    {% for error in form.user.errors %}
                        {{ error }}
                    {% endfor %}
                {% else %}
                    {{ form.user(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class='form-control-label') }}
                {% if form.password.errors %}
                    {{ form.password(class='form-control is-invalid') }}
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                {% else %}
                    {{ form.password(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.zipcode.label(class='form-control-label') }}
                {% if form.zipcode.errors %}
                    {{ form.zipcode(class='form-control is-invalid') }}
                    {% for error in form.zipcode.errors %}
                        {{ error }}
                    {% endfor %}
                {% else %}
                    {{ form.zipcode(class='form-control') }}
                {% endif %}
            </div>
            {{ form.submit(class="btn btn-secondary") }}
          </form>
    </div>
</div>

{% endblock %}